@import "tailwindcss";

@theme {
  --color-primary: #FF5A00;
  --color-primaryHover: #E84F00;
  --color-lightOrange: #FFF7ED;
  --color-softOrangeBorder: #FED7AA;
  --color-textOrangeAccent: #C2410C;
  --color-selectedCard: #FFF1E6;
  --color-heroBg: #FEF6F2;

  --color-border: #E8E3DA;
  --color-lightGray: #EBEAE2;
  --color-text: #1F1F1F;
  --color-secondaryText: #5F6368;
  
  --color-textDark: #1F1F1F;
  --color-textSecondary: #5F6368;
  --color-borderGray: #E8E3DA;
  
  --radius-card: 16px;
  --radius-button: 12px;
  --radius-tag: 999px;
}

@utility container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1440px;
  padding-left: 32px;
  padding-right: 32px;
  width: 100%;
}

body {
  font-family: var(--font-inter), sans-serif;
  background-color: #EBEAE2;
  color: #1F1F1F;
  min-height: 100vh;
}
