@import "tailwindcss";

@theme {
  --color-primary: #FF5A1F;
  --color-primaryHover: #FF6B35;
  --color-border: #ECECEC;
  --color-lightGray: #F8F8F8;
  --color-text: #111827;
  --color-secondaryText: #6B7280;
  
  --color-textDark: #111827;
  --color-textSecondary: #6B7280;
  --color-borderGray: #ECECEC;
  
  --radius-card: 24px;
  --radius-button: 14px;
  --radius-tag: 999px;
}

@utility container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1440px;
  padding-left: 32px;
  padding-right: 32px;
  width: 100%;
}

body {
  font-family: var(--font-inter), sans-serif;
  background-color: #ffffff;
  color: #111827;
  min-height: 100vh;
}
